body {
  font-family: "Gotham";
  font-weight: 400;
  position: relative;
  height: 5000px; }
  body::-webkit-scrollbar {
    width: 10px; }
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent; }
  body::-webkit-scrollbar-thumb {
    background-color: #222;
    border-radius: 40px;
    outline: none; }
  body .gallery {
    padding-top: 10vh;
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 99999999999999999999999;
    top: 0;
    left: 0; }
    body .gallery button.close {
      color: #000;
      position: absolute;
      right: 40px;
      opacity: 1; }
      body .gallery button.close:hover, body .gallery button.close:active, body .gallery button.close:focus {
        background-color: transparent; }
    body .gallery_info {
      color: gray;
      line-height: 2; }
      body .gallery_info h1 {
        color: #222;
        font-size: 44px; }
      body .gallery_info table tr th {
        border-top: 0; }
        body .gallery_info table tr th label {
          font-weight: 400;
          margin-right: 10px;
          color: #555; }
        body .gallery_info table tr th span {
          font-weight: normal; }
  body .background-lines {
    display: flex;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1; }
    body .background-lines .container {
      width: 100%;
      display: flex;
      justify-content: space-around; }
      body .background-lines .container .single-line {
        background-color: rgba(0, 0, 0, 0.07);
        display: inline-block;
        width: 2px; }
  body nav.navbar {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    padding: 10px;
    background-color: transparent;
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    width: 100%; }
    body nav.navbar .navbar-header {
      float: none; }
      body nav.navbar .navbar-header .navbar-toggle {
        float: right;
        display: block;
        border: none;
        direction: rtl; }
        body nav.navbar .navbar-header .navbar-toggle:active, body nav.navbar .navbar-header .navbar-toggle:focus, body nav.navbar .navbar-header .navbar-toggle:hover {
          background-color: transparent; }
        body nav.navbar .navbar-header .navbar-toggle span {
          background-color: #000 !important;
          height: 3px;
          width: 22px; }
          body nav.navbar .navbar-header .navbar-toggle span:nth-child(3) {
            width: 15px; }
          body nav.navbar .navbar-header .navbar-toggle span:nth-child(4) {
            width: 30px; }
    body nav.navbar .nav {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 9999999999;
      background: rgba(0, 0, 0, 0.8); }
      body nav.navbar .nav .outer-close {
        background: transparent;
        position: absolute;
        right: 0;
        top: 0;
        width: 85px;
        height: 85px;
        cursor: pointer; }
        body nav.navbar .nav .outer-close a {
          border: none;
          display: block;
          position: fixed;
          top: 40px;
          right: 60px;
          z-index: 3;
          cursor: pointer;
          font-family: sans-serif;
          background-color: transparent; }
          body nav.navbar .nav .outer-close a:hover {
            background-color: transparent !important; }
          body nav.navbar .nav .outer-close a span:after, body nav.navbar .nav .outer-close a span:before {
            background-color: white !important;
            border-radius: 4px;
            height: 5px;
            width: 35px;
            position: absolute;
            display: block;
            content: ''; }
          body nav.navbar .nav .outer-close a span:before {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
          body nav.navbar .nav .outer-close a span:after {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
      body nav.navbar .nav ul li {
        margin: 18px 0; }
        body nav.navbar .nav ul li.active a {
          color: #4770d9 !important; }
        body nav.navbar .nav ul li a {
          color: #fff;
          display: inline-block;
          font-size: 44px;
          line-height: 100%;
          padding: 0;
          transition: all 0.1s ease-in-out;
          user-select: none;
          text-decoration: none; }
          body nav.navbar .nav ul li a:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1); }
          body nav.navbar .nav ul li a:before {
            content: "";
            position: absolute;
            width: 50%;
            height: 2px;
            bottom: -10px;
            left: 25%;
            background: white;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            transition: all 0.3s ease-in-out 0s; }
          body nav.navbar .nav ul li a:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(2);
            transform: scaleX(2); }
  body .home {
    height: 100vh;
    background-image: url("../img/home-light.png");
    background-size: cover;
    background-position: center;
    padding-top: 12%;
    position: relative; }
    body .home .info {
      line-height: 1.5; }
      body .home .info h2 {
        color: #222;
        font-size: 24px;
        font-weight: 400; }
      body .home .info .typed_wrap h1 {
        font-size: 71px;
        color: #222;
        margin-bottom: 30px; }
        body .home .info .typed_wrap h1 span {
          font-weight: bolder;
          border-bottom: 4px solid #17a2b8; }
      body .home .info p {
        font-size: 17px;
        color: #555; }
    body .home .mousehome {
      position: absolute;
      bottom: 3.725%;
      background-color: gray;
      width: 20px;
      height: 40px;
      left: 50%;
      border-radius: 15px; }
      body .home .mousehome .mouse-wheel {
        margin: 10px auto;
        background-color: white;
        width: 3px;
        height: 10px;
        animation-name: mouse;
        animation-duration: 2s;
        animation-iteration-count: infinite; }
    body .home .bottom {
      position: absolute;
      bottom: 3.753%;
      font-size: 17px;
      width: 50%; }
      body .home .bottom div {
        display: inline-block; }
        body .home .bottom div a {
          margin: 0;
          padding: 0;
          color: black;
          text-decoration: none; }
        body .home .bottom div:last-child {
          width: 4%; }
          body .home .bottom div:last-child hr {
            border: 0.5px solid #000;
            margin: 0;
            padding: 0; }
  body .about-me .info {
    margin: 32px 0 0 22px;
    line-height: 2; }
    body .about-me .info p.h1 {
      font-size: 44px; }
    body .about-me .info h3 {
      color: #17a2b8;
      font-weight: normal; }
    body .about-me .info table {
      margin-top: 30px; }
      body .about-me .info table th {
        border-top: 0;
        padding: 0; }
        body .about-me .info table th label {
          font-size: 17px;
          font-weight: 500; }
        body .about-me .info table th span {
          font-size: 17px;
          font-weight: normal; }
  body .services {
    background-color: rgba(247, 247, 247, 0.7); }
    body .services .skills .skill {
      padding: 10px;
      background-color: #fff;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
      margin-top: 15px; }
      body .services .skills .skill .img {
        width: 30%;
        display: inline-block;
        color: #17a2b8;
        font-size: 71px;
        vertical-align: top; }
      body .services .skills .skill .skill-details {
        display: inline-block;
        width: 59%;
        margin-left: 10px; }
        body .services .skills .skill .skill-details p {
          padding: 0;
          margin: 0;
          line-height: 1.5;
          vertical-align: center; }
          body .services .skills .skill .skill-details p .h4 {
            margin-bottom: 10px; }
  body .portofolio .carousel .carousel-indicators {
    position: static;
    z-index: 0;
    width: auto;
    padding-left: 0;
    margin-left: 0;
    text-align: left;
    list-style: none; }
    body .portofolio .carousel .carousel-indicators li {
      display: inline-block;
      width: auto;
      height: auto;
      margin: 1px;
      text-indent: 0;
      cursor: pointer;
      border: none;
      border-radius: 0px;
      font-weight: normal;
      font-size: 17px; }
      body .portofolio .carousel .carousel-indicators li:not(:first-child) {
        margin-left: 20px; }
      body .portofolio .carousel .carousel-indicators li.active {
        border-bottom: 2px solid #17a2b8; }
  body .portofolio .carousel .carousel-inner .hovereffect {
    cursor: pointer;
    margin-top: 30px; }
    body .portofolio .carousel .carousel-inner .hovereffect a {
      color: #17a2b8; }
  body .banner {
    margin-top: 30px;
    padding: 80px 0;
    background-image: url("../img/hire.jpg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed; }
    body .banner .flex {
      display: flex;
      justify-content: center;
      align-items: center; }
      body .banner .flex a {
        width: 50%; }
  body .resume {
    background-color: rgba(247, 247, 247, 0.7); }
    body .resume .col-md-4 {
      padding-left: 0;
      padding-right: 0; }
      body .resume .col-md-4 .time {
        margin-top: 30px; }
        body .resume .col-md-4 .time span.h5:first-of-type {
          color: #17a2b8; }
        body .resume .col-md-4 .time span.h5:last-of-type::before {
          content: " /"; }
        body .resume .col-md-4 .time .line {
          position: relative; }
          body .resume .col-md-4 .time .line hr {
            height: 6px;
            background-color: #17a2b8; }
            body .resume .col-md-4 .time .line hr:before {
              content: '';
              position: absolute;
              width: 15px;
              height: 15px;
              background-color: #555; }
            body .resume .col-md-4 .time .line hr:after {
              content: '';
              position: absolute;
              bottom: -24px;
              left: -3px;
              display: block;
              width: 7px;
              height: 15px;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-top: 10px solid #555; }
        body .resume .col-md-4 .time_info {
          margin-top: 30px;
          padding-right: 10px;
          color: #555; }
          body .resume .col-md-4 .time_info p:first-child {
            font-weight: 500;
            font-size: 20px; }
  body .clients .title {
    text-align: center; }
    body .clients .title .h1 {
      font-weight: bold; }
      body .clients .title .h1:after {
        left: 0;
        width: 100% !important; }
    body .clients .title p {
      padding: 10px;
      font-size: 14px !important; }
  body .clients .owl-carousel {
    margin-top: 30px; }
    body .clients .owl-carousel .item {
      color: #555;
      font-size: 17px;
      text-align: center;
      overflow: hidden;
      min-height: 290px; }
      body .clients .owl-carousel .item .quote {
        margin-top: 30px;
        font-size: 71px;
        color: #17a2b8; }
      body .clients .owl-carousel .item .author {
        align-items: center;
        justify-content: center;
        display: flex;
        margin-bottom: 10px; }
        body .clients .owl-carousel .item .author-img {
          max-width: 50px;
          margin: 0;
          padding: 0;
          border: 2px solid #17a2b8;
          border-radius: 50%; }
        body .clients .owl-carousel .item .author-name {
          text-align: left;
          margin-left: 10px;
          font-size: 14px;
          padding: 0; }
          body .clients .owl-carousel .item .author-name h6 {
            margin: 0;
            font-size: 17px; }
      body .clients .owl-carousel .item .testimonial {
        padding: 30px 0 10px; }
      body .clients .owl-carousel .item .carousel .overview {
        font-style: italic; }
        body .clients .owl-carousel .item .carousel .overview b {
          text-transform: uppercase;
          color: #7AA641; }
      body .clients .owl-carousel .item .carousel-indicators {
        bottom: -40px; }
        body .clients .owl-carousel .item .carousel-indicators li {
          background: #999;
          border-color: transparent;
          box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2); }
          body .clients .owl-carousel .item .carousel-indicators li,
          body .clients .owl-carousel .item .carousel-indicators li li.active {
            width: 10px;
            height: 10px;
            margin: 1px 3px;
            border-radius: 50%; }
          body .clients .owl-carousel .item .carousel-indicators li .active {
            background: #555;
            box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2); }
  body .blog .posts {
    margin-top: 40px; }
    body .blog .posts .post {
      overflow: hidden;
      border-radius: 5px; }
      body .blog .posts .post-img {
        position: relative; }
        body .blog .posts .post-img .date {
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 5px 15px;
          font-size: 14px;
          background-color: #17a2b8;
          color: white; }
          body .blog .posts .post-img .date p {
            padding: 0;
            margin: 0; }
      body .blog .posts .post-info {
        font-size: 13px; }
        body .blog .posts .post-info .h5 {
          font-size: 17px; }
        body .blog .posts .post-info p:last-of-type span {
          color: #17a2b8; }
  body .contact label {
    font-size: 20px;
    margin: 28px 0; }
  body .contact .form input, body .contact .form textarea {
    color: #555;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    transition: all 0.4s ease; }
    body .contact .form input:focus, body .contact .form textarea:focus {
      border-bottom: 1px solid #17a2b8; }
  body .contact .form textarea {
    resize: none; }
  body .contact-info ul li .contact--details {
    display: inline-block;
    border-left: 1px solid #bbb;
    padding-left: 20px;
    margin-left: 25px; }
    body .contact-info ul li .contact--details span {
      color: #17a2b8; }
  body .contact-info ul li span i {
    max-width: 20px;
    color: #17a2b8;
    font-size: 34px; }

body .services .title .h1, body .portofolio .title .h1, body .resume .title .h1, body .clients .title .h1, body .blog .title .h1, body .contact .title .h1 {
  display: inline-block;
  font-size: 40px;
  color: #000;
  font-weight: 800;
  letter-spacing: -.25px;
  position: relative;
  margin-bottom: 10px; }
  body .services .title .h1:after, body .portofolio .title .h1:after, body .resume .title .h1:after, body .clients .title .h1:after, body .blog .title .h1:after, body .contact .title .h1:after {
    background-color: #17a2b8;
    bottom: 0;
    content: '';
    display: block;
    height: 50%;
    position: absolute;
    width: 85%;
    z-index: -9; }
body .services .title p, body .portofolio .title p, body .resume .title p, body .clients .title p, body .blog .title p, body .contact .title p {
  font-size: 15px; }

body .about-me, body .services, body .portofolio, body .resume, body .clients, body .contact {
  min-height: 100vh;
  padding-top: 12%; }

body .home .info button, body .banner .flex a, body .contact .form button {
  margin-top: 20px;
  border: none;
  margin-right: 10px;
  min-width: 20%;
  border-radius: 30px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  outline: none; }
  body .home .info button:first-child:hover, body .banner .flex a:first-child:hover, body .contact .form button:first-child:hover {
    background-color: #FFF !important; }
  body .home .info button:last-child:hover, body .banner .flex a:last-child:hover, body .contact .form button:last-child:hover {
    background-color: #337ab7 !important; }

.bgt {
  background-color: #fff !important;
  -webkit-animation: bgt 1s ease 0s 1 alternate !important; }

@keyframes mouse {
  from {
    opacity: 1;
    transform: translateY(-10px); }
  to {
    opacity: 0;
    transform: translateY(20px); } }
@keyframes bgt {
  from {
    background-color: transparent; }
  to {
    background-color: #fff; } }

/*# sourceMappingURL=main.css.map */
