body {
  font-family: "Gotham"; }
  body nav.navbar {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    body nav.navbar .navbar-header .navbar-toggle {
      border: none;
      direction: rtl; }
      body nav.navbar .navbar-header .navbar-toggle:active, body nav.navbar .navbar-header .navbar-toggle:focus, body nav.navbar .navbar-header .navbar-toggle:hover {
        background-color: transparent; }
      body nav.navbar .navbar-header .navbar-toggle span {
        background-color: #000 !important;
        height: 3px;
        width: 22px; }
        body nav.navbar .navbar-header .navbar-toggle span:nth-child(3) {
          width: 15px; }
        body nav.navbar .navbar-header .navbar-toggle span:nth-child(4) {
          width: 30px; }
    body nav.navbar .nav {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 9999999999;
      background: rgba(0, 0, 0, 0.8); }
      body nav.navbar .nav .outer-close {
        background: transparent;
        position: absolute;
        right: 0;
        top: 0;
        width: 85px;
        height: 85px;
        cursor: pointer; }
        body nav.navbar .nav .outer-close a {
          border: none;
          display: block;
          position: fixed;
          top: 40px;
          right: 60px;
          z-index: 3;
          cursor: pointer;
          font-family: sans-serif;
          background-color: transparent; }
          body nav.navbar .nav .outer-close a:hover {
            background-color: transparent !important; }
          body nav.navbar .nav .outer-close a span:after, body nav.navbar .nav .outer-close a span:before {
            background-color: white !important;
            border-radius: 4px;
            height: 5px;
            width: 35px;
            position: absolute;
            display: block;
            content: ''; }
          body nav.navbar .nav .outer-close a span:before {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
          body nav.navbar .nav .outer-close a span:after {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
      body nav.navbar .nav ul li {
        margin: 18px 0; }
        body nav.navbar .nav ul li.active a {
          color: #4770d9 !important; }
        body nav.navbar .nav ul li a {
          color: #fff;
          display: inline-block;
          font-size: 44px;
          line-height: 100%;
          padding: 0;
          transition: all 0.1s ease-in-out;
          user-select: none;
          text-decoration: none; }
          body nav.navbar .nav ul li a:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1); }
          body nav.navbar .nav ul li a:before {
            content: "";
            position: absolute;
            width: 50%;
            height: 2px;
            bottom: -10px;
            left: 25%;
            background: white;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            transition: all 0.3s ease-in-out 0s; }
          body nav.navbar .nav ul li a:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(2);
            transform: scaleX(2); }
  body .home {
    padding-top: 50px;
    height: 100vh;
    color: #000;
    background-image: url("../img/Background.png");
    background-size: cover;
    background-position: center; }

@media (min-width: 768px) {
  .navbar-header {
    float: none; }
    .navbar-header .navbar-toggle {
      display: block; }
    .navbar-header a {
      padding: 10px; } }
.sticky {
  position: fixed !important;
  z-index: 1213123 !important;
  top: 0 !important;
  width: 100% !important; }

/*# sourceMappingURL=main.css.map */
