body {
  font-family: "Gotham";
  font-weight: 400;
  position: relative; }
  body .background-lines {
    display: flex;
    height: 100%;
    position: absolute;
    z-index: -1;
    width: 100%; }
    body .background-lines .container {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      body .background-lines .container .single-line {
        background-color: rgba(0, 0, 0, 0.07);
        display: inline-block;
        width: 2px; }
  body nav.navbar {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    padding: 10px;
    background-color: transparent;
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    width: 100%; }
    body nav.navbar .navbar-header .navbar-toggle {
      border: none;
      direction: rtl; }
      body nav.navbar .navbar-header .navbar-toggle:active, body nav.navbar .navbar-header .navbar-toggle:focus, body nav.navbar .navbar-header .navbar-toggle:hover {
        background-color: transparent; }
      body nav.navbar .navbar-header .navbar-toggle span {
        background-color: #000 !important;
        height: 3px;
        width: 22px; }
        body nav.navbar .navbar-header .navbar-toggle span:nth-child(3) {
          width: 15px; }
        body nav.navbar .navbar-header .navbar-toggle span:nth-child(4) {
          width: 30px; }
    body nav.navbar .nav {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 9999999999;
      background: rgba(0, 0, 0, 0.8); }
      body nav.navbar .nav .outer-close {
        background: transparent;
        position: absolute;
        right: 0;
        top: 0;
        width: 85px;
        height: 85px;
        cursor: pointer; }
        body nav.navbar .nav .outer-close a {
          border: none;
          display: block;
          position: fixed;
          top: 40px;
          right: 60px;
          z-index: 3;
          cursor: pointer;
          font-family: sans-serif;
          background-color: transparent; }
          body nav.navbar .nav .outer-close a:hover {
            background-color: transparent !important; }
          body nav.navbar .nav .outer-close a span:after, body nav.navbar .nav .outer-close a span:before {
            background-color: white !important;
            border-radius: 4px;
            height: 5px;
            width: 35px;
            position: absolute;
            display: block;
            content: ''; }
          body nav.navbar .nav .outer-close a span:before {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
          body nav.navbar .nav .outer-close a span:after {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
      body nav.navbar .nav ul li {
        margin: 18px 0; }
        body nav.navbar .nav ul li.active a {
          color: #4770d9 !important; }
        body nav.navbar .nav ul li a {
          color: #fff;
          display: inline-block;
          font-size: 44px;
          line-height: 100%;
          padding: 0;
          transition: all 0.1s ease-in-out;
          user-select: none;
          text-decoration: none; }
          body nav.navbar .nav ul li a:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1); }
          body nav.navbar .nav ul li a:before {
            content: "";
            position: absolute;
            width: 50%;
            height: 2px;
            bottom: -10px;
            left: 25%;
            background: white;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            transition: all 0.3s ease-in-out 0s; }
          body nav.navbar .nav ul li a:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(2);
            transform: scaleX(2); }
  body .home {
    height: 100vh;
    background-image: url("../img/home-light.png");
    background-size: cover;
    background-position: center;
    padding-top: 12%;
    position: relative; }
    body .home .info {
      line-height: 1.5; }
      body .home .info h2 {
        color: #222;
        font-size: 24px;
        font-weight: 400; }
      body .home .info .typed_wrap h1 {
        font-size: 71px;
        color: #222;
        margin-bottom: 30px; }
        body .home .info .typed_wrap h1 span {
          font-weight: bolder;
          border-bottom: 4px solid #17a2b8; }
      body .home .info p {
        font-size: 17px;
        color: #5a5a5a; }
    body .home .mousehome {
      position: absolute;
      bottom: 3.725%;
      background-color: gray;
      width: 20px;
      height: 40px;
      left: 50%;
      border-radius: 15px; }
      body .home .mousehome .mouse-wheel {
        margin: 10px auto;
        background-color: white;
        width: 3px;
        height: 10px;
        animation-name: mouse;
        animation-duration: 2s;
        animation-iteration-count: infinite; }
    body .home .bottom {
      position: absolute;
      bottom: 3.753%;
      font-size: 17px;
      width: 50%; }
      body .home .bottom div {
        display: inline-block; }
        body .home .bottom div a {
          margin: 0;
          padding: 0;
          color: black;
          text-decoration: none; }
        body .home .bottom div:last-child {
          width: 4%; }
          body .home .bottom div:last-child hr {
            border: 0.5px solid #000;
            margin: 0;
            padding: 0; }
  body .about-me {
    height: 100vh;
    padding-top: 12%; }
    body .about-me .info {
      margin: 0 0 0 90px;
      line-height: 2; }
      body .about-me .info p.h1 {
        font-size: 44px; }
      body .about-me .info h3 {
        color: #17a2b8;
        font-weight: normal; }

body .home .info button {
  margin-top: 20px;
  border: none;
  margin-right: 10px;
  width: 10%;
  border-radius: 30px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  outline: none; }
  body .home .info button:first-child:hover {
    background-color: #FFF !important; }
  body .home .info button:last-child:hover {
    background-color: #337ab7 !important; }

.bgt {
  background-color: #fff !important;
  -webkit-animation: bgt 1s ease 0s 1 alternate !important; }

@keyframes mouse {
  from {
    opacity: 1;
    transform: translateY(-10px); }
  to {
    opacity: 0;
    transform: translateY(20px); } }
@keyframes bgt {
  from {
    background-color: transparent; }
  to {
    background-color: #fff; } }
@media (max-width: 767px) {
  .navbar-header {
    float: none; }
    .navbar-header .navbar-toggle {
      display: block; }
    .navbar-header a {
      padding: 10px; }

  .nav ul li a {
    font-size: 24px !important; }

  .home .info {
    margin-top: 30px; }
    .home .info h2 {
      font-size: 20px !important; }
    .home .info .typed_wrap h1 {
      font-size: 24px !important;
      margin-bottom: 10px; }
      .home .info .typed_wrap h1 span {
        font-size: 20px;
        border-bottom: 2px solid #17a2b8; }
    .home .info p {
      font-size: 17px;
      word-spacing: 3px; }
    body .home .info button {
      width: 100%; }

  .bottom {
    left: 15px; }

  .about-me .container .row .info {
    margin: 0; } }
@media (min-width: 768px) and (max-width: 1024px) {
  .home p {
    max-width: 540px; }

  body .home .info button {
    width: 40%; }

  .about-me .container .row div img {
    padding: 0;
    margin: 0 86px 0 auto; } }

/*# sourceMappingURL=media.css.map */
