$mainFont: "Gotham";
$mainColor: #5a5a5a;
$normalFont: 17px;
$upNormal: 20px;
$mediumFont: 24px;
$bigFont: 44px;
$hugefont: 71px;
$mainFontWieght: 400;
$mainFontSize: 60px;
$themeColor: #17a2b8;

body {
  font-family: $mainFont;
  font-weight: $mainFontWieght;
  position: relative;

  &::-webkit-scrollbar {
    width: 10px;
    }

    &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent;
    }

    &::-webkit-scrollbar-thumb {
    background-color: #222;
    border-radius: 40px;
    outline: none;
    }

  .gallery{
    padding-top: 10vh;
    background-color: #fff;
    position: fixed;
    width: 100%;
    overflow: hidden;
    height: 100%;
    display: none;
    z-index: 99999999999999999999999;
    top: 0;
    left: 0;

    
    button.close{
      color: #000;
      position: absolute;
      right: 40px;
      opacity: 1;

      &:hover,
      &:active,
      &:focus{
        background-color: transparent;
      }
    }
    &_info{
      h1{
        color: #222;
        font-size: $bigFont
      }
      color: gray;
      line-height: 2;
      table tr th{
        border-top: 0;

        label{
          font-weight: 400;
          margin-right: 10px;
          color: #555;
        }

        span{
          font-weight: normal;
        }
      }
    }
  }

  .background-lines {
    display: flex;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;

    .container{
      width: 100%;
      display: flex;
      justify-content: space-around;

      .single-line {
        background-color: rgba(0,0,0,.07);
        display: inline-block;
        width: 2px;
      }
    }
  }
  nav.navbar {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    padding: 10px;
    background-color: transparent;
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    width: 100%;

    .navbar-header {
        float: none;
      .navbar-toggle {
        float: right;
        display: block;
        border: none;
        direction: rtl;

        &:active,
        &:focus,
        &:hover {
          background-color: transparent;
        }

        span {
          background-color: #000 !important;
          height: 3px;
          width: 22px;

          &:nth-child(3) {
            width: 15px;
          }

          &:nth-child(4) {
            width: 30px;
          }
        }
      }
    }

    .nav {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 9999999999;
      background: rgba(0, 0, 0, 0.8);

      .outer-close {
        background: transparent;
        position: absolute;
        right: 0;
        top: 0;
        width: 85px;
        height: 85px;
        cursor: pointer;

        a {
          border: none;
          display: block;
          position: fixed;
          top: 40px;
          right: 60px;
          z-index: 3;
          cursor: pointer;
          font-family: sans-serif;
          background-color: transparent;

          &:hover {
            background-color: transparent !important;
          }

          span {
            &:after,
            &:before {
              background-color: white !important;
              border-radius: 4px;
              height: 5px;
              width: 35px;
              position: absolute;
              display: block;
              content: '';
            }

            &:before {
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
            }

            &:after {
              -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
            }
          }
        }
      }

      ul {
        li {
          margin: 18px 0;

          &.active a {
            color: #4770d9 !important;
          }

          a {
            color: #fff;
            display: inline-block;
            font-size: 44px;
            line-height: 100%;
            padding: 0;
            transition: all 0.1s ease-in-out;
            user-select: none;
            text-decoration: none;

            &:hover {
              -webkit-transform: scale(1.1);
              transform: scale(1.1);
            }

            &:before {
              content: "";
              position: absolute;
              width: 50%;
              height: 2px;
              bottom: -10px;
              left: 25%;
              background: white;
              visibility: hidden;
              -webkit-transform: scaleX(0);
              transform: scaleX(0);
              transition: all 0.3s ease-in-out 0s;
            }

            &:hover:before {
              visibility: visible;
              -webkit-transform: scaleX(2);
              transform: scaleX(2);
            }
          }
        }
      }
    }
  }
  .home {
    height: 100vh;
    background-image: url("../img/home-light.png");
    background-size: cover;
    background-position: center;
    padding-top: 12%;
    position: relative;

    .info {
      line-height: 1.5;

      h2 {
        color: #222;
        font-size: $mediumFont;
        font-weight: 400;
      }

      .typed_wrap {
        h1 {
          font-size: $hugefont;
          color: #222;
          margin-bottom: 30px;

          span {
            font-weight: bolder;
            border-bottom: 4px solid $themeColor;
          }
        }
      }

      p {
        font-size: $normalFont;
        color: $mainColor;
      }

      button {
        @extend %our-btn;
      }
    }

    .mousehome {
      position: absolute;
      bottom: 3.725%;
      background-color: gray;
      width: 20px;
      height: 40px;
      left: 50%;
      border-radius: 15px;

      .mouse-wheel {
        margin: 10px auto;
        background-color: white;
        width: 3px;
        height: 10px;
        animation-name: mouse;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }
    }

    .bottom {
      position: absolute;
      bottom: 3.753%;
      font-size: $normalFont;
      width: 50%;

      div {
        display: inline-block;

        a {
          margin: 0;
          padding: 0;
          color: black;
          text-decoration: none;
        }

        &:last-child {
          width: 4%;

          hr {
            border: 0.5px solid #000;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
  .about-me {
    .info{
      margin: 32px 0 0 22px;
      line-height: 2;

      p.h1{
        font-size: $bigFont;
      }

      h3{
        color: #17a2b8;
        font-weight: normal;
      }

      table{
        margin-top: 30px;

        th{
          border-top: 0;
          padding: 0;

          label{
            font-size: $normalFont;
            font-weight: 500
          }
          span{
            font-size: $normalFont;
            font-weight: normal
          }
        }
      }
    }
  }

  .services{
    @extend  %section;
    background-color: rgba(247,247,247,0.7);

    .title{
      @extend %title;
    }

    .skills{
      .skill{
        padding: 10px;
        background-color: #fff;
        box-shadow: 0 2px 8px 0 rgba(0,0,0,.1);
        margin-top: 15px;

        .img{
          width: 30%;
          display: inline-block;
          color: $themeColor;
          font-size: $hugefont;
          vertical-align: top;
        }

        .skill-details{
          display: inline-block;
          width: 59%;
          margin-left: 10px;
          p{
            padding: 0;
            margin: 0;
            line-height: 1.5;
            vertical-align: center;
            .h4{
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }

  .portofolio{
    @extend %section;
    .title{
      @extend %title;
    }

    .carousel{
      .carousel-indicators{
        position: static;
        z-index: 0;
        width: auto;
        padding-left: 0;
        margin-left: 0;
        text-align: left;
        list-style: none;
        li{
          display: inline-block;
          width: auto;
          height: auto;
          margin: 1px;
          text-indent: 0;
          cursor: pointer;
          border: none;
          border-radius: 0px;
          font-weight: normal;
          font-size: $normalFont;

          &:not(:first-child){
            margin-left: 20px;
          }

          &.active{
            border-bottom: 2px solid $themeColor
          }
        }
      }

      .carousel-inner{

        .hovereffect{
          cursor: pointer;
          margin-top: 30px;

          a{
            color: $themeColor;

          }
        }
      }
    }
  }
}

// meadias
%title{

  .h1{
    font-size: $bigFont;
    position: relative;
    &:after{
      background-color: $themeColor;
      bottom: 0;
      content: '';
      display: block;
      height: 50%;
      position: absolute;
      width: 85%;
      z-index: -9;
    }
  }
  
  p{
    font-size: $normalFont;
  }
}
%section {
  height: 100vh;
  padding-top: 12%;
}

%our-btn {
  margin-top: 20px;
  border: none;
  margin-right: 10px;
  width: 10%;
  border-radius: 30px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.2);
  padding: 10px;
  outline: none;

  &:first-child:hover {
    background-color: #FFF !important;
  }

  &:last-child:hover {
    background-color: #337ab7 !important;
  }
}
// js Classes
.bgt {
  background-color: #fff !important;
  -webkit-animation: bgt 1s ease 0s 1 alternate !important;
}

// Animations
@keyframes mouse {
  from {
    opacity: 1;
    transform: translateY(-10px);
  }

  to {
    opacity: 0;
    transform: translateY(20px);
  }
}
@keyframes bgt {
  from {
    background-color: transparent;
  }

  to {
    background-color: #fff;
  }
}
