@import "main";

// Mopile Screen == xs
@media (max-width: 767px) {
  .gallery{
    padding-top: 10vh;
    background-color: #fff;
    position: fixed;
    width: 100%;
    overflow: hidden;
    height: 100%;
    display: none;
    z-index: 99999999999999999999999;
    top: 0;
    left: 0;

    
    button.close{
      color: #000;
      position: absolute;
      right: 40px;
      opacity: 1;

      &:hover,
      &:active,
      &:focus{
        background-color: transparent;
      }
    }
    &_info{
      h1{
        color: #222;
        font-size: $bigFont
      }
      color: gray;
      line-height: 2;
      table tr th{
        border-top: 0;

        label{
          font-weight: 400;
          margin-right: 10px;
          color: #555;
        }

        span{
          font-weight: normal;
        }
      }
    }
  }
  
  .navbar-header {
    float: none;

    .navbar-toggle {
      display: block;
    }

    a {
      padding: 10px;
    }
  }

  .nav{
    ul li a{
      font-size: $mediumFont !important;
    }
  }

  .home {
    .info {
      margin-top: 30px;

      h2 {
        font-size: $upNormal !important;
      }

      .typed_wrap {
        h1 {
          font-size: $mediumFont !important;
          margin-bottom: 10px;

          span {
            font-size: $upNormal;
            border-bottom: 2px solid $themeColor;
          }
        }
      }

        p {
          font-size: $normalFont;
          word-spacing: 3px;
        }

        %our-btn{
          width: 100%;
        }

      }
    }

  .bottom {
    left: 15px;
  }

  .about-me{
    .container .row {

      .info{
        margin: 0;

        p.h1{
          font-size: $mediumFont
        }

        h3{
          font-size: $normalFont;
          font-weight: 500;
        }
      }
    }

  }
}

// Tablet Screen == sm
@media (min-width: 768px) and (max-width: 1024px){
  .home{
    p{
      max-width: 540px;
    }
  }
  %our-btn{
    width: 40%;
  }
  .about-me{
    .container .row div {

      img{
        padding: 0;
        margin: 0 86px 0 auto;
      }
    }
  }
}

// Laptop Screen == md
@media (min-width: 1024px){
  .about-me {
    padding-top: 130px;
    margin-top: 30px !important;

    img{
      width: 430px;
      height: 525px;
    }
  }
}
